.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5, 100px) ;
  grid-template-rows: repeat(7, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgb(235, 231, 231);
  outline: none;
  background-color: white;
}

.calculator-grid > button:hover {
  background-color: rgb(245, 245, 245);
}

.span-two {
  grid-row: span 2;
}

.output {
  grid-column: span 5;
  border: 1px solid rgb(235, 231, 231);
  background-color: white;
}

.calculator-header {
  border: 1px solid rgb(235, 231, 231);
  grid-column: span 5;
}


.calculator-grid > .operator {
  background-color: #F3F4F6;
}


.calculator-grid > .span-two {
  background-color: #06B6D4;
}

.calculator-grid > .calculator-header {
  background-color: #06B6D4;
}

.date {
  display: flex;
  border: 1px solid rgb(235, 231, 231);
  grid-column: span 5;
  align-items: center;
  align-content: center;
}

.current-operand {
  text-align: center;
  align-items: flex-end;
  font-size: 2.5em;
  margin-block: 20px auto;
  background-color: white;
}